<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>My First Webpage</title>
    <link rel="stylesheet" href="stylesheet/style1.cs">
  </head>

  <body>
    <h1>Hello World!</h1>
    <h1>Aboute work</h1>
  </body>
  <script src="javascript/script.js"></script>
</html>
